<section>

    <form>
      <div *ngIf="(cars$ | async)?.length==0" class="alert alert-danger text-center col-12">
    <strong>Error!</strong>&nbsp;<span>No records found</span>
    </div>
  <table class="table">
    <thead class="#f5f5f5 grey lighten-4">
      <tr>
        <th class="text-center">Car Details</th>
        <th class="text-center">Investment</th>
        <th class="text-center">Expenses</th>
        <th class="text-center">Profit and Loss</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let car of cars$ |async;let i=index">
        <td><span>{{car.make_name}}</span><br>
          <span>{{car.model_name}}</span><br>
        </td>
        <td>
          <table class="table table-investors">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Investor</th>
                <th>Type</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody *ngFor="let td of transactionDetails">
              <tr  *ngIf="(td.transaction_type_id == 1 ||td.transaction_type_id == 3) && td.date <=car.purchased_on "  >
              <td>{{td.date | date}}</td>
              <td>{{td.investor_name}}</td>
              <td>{{td.transaction_type_name}}</td>
              <td class="text-right">{{td.credit| currency:' '}}</td>
            </tr>
          </tbody>
          </table>
        </td>
        <td>
          <table class="table table-investors">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Expense</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody *ngFor="let td of transactionDetails">
              <tr  *ngIf="td.transaction_type_id == 2 && car.car_id == td.car_id"  >
              <td>{{td.date | date}}</td>
              <td>{{td.expense_name}}</td>
              <td class="text-right">{{td.debit| currency:' '}}</td>
            </tr>
          </tbody>
          </table>
        </td>
        <td>
          <table class="table table-investors">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Investor</th>
                  <th class="text-right">Percentage</th>
                <th class="text-right">Profit</th>
                <th class="text-right">Loss</th>
              </tr>
            </thead>
            <tbody *ngFor="let td of transactionDetails">
              <tr  *ngIf="(td.transaction_type_id == 3 || td.transaction_type_id == 4) && car.car_id == td.car_id"  >
              <td>{{td.date | date}}</td>
              <td>{{td.investor_name}}</td>
                <td class="text-right" *ngIf="td.percentage != null">{{td.percentage}}%</td>
                <td *ngIf="td.percentage == null"></td>
              <td class="text-right">{{td.credit | currency:' '}}</td>
              <td class="text-right">{{td.debit| currency:' '}}</td>
            </tr>
          </tbody>
          </table>
        </td>
      </tr>

    </tbody>
  </table>
</form>
</section>
