

<section>
    <form>
  <table class="table">
    <thead class="#f5f5f5 grey lighten-4">
      <tr>
        <th class="text-center">Car Details</th>
        <th class="text-center">Investment</th>
        <th class="text-center">Expenses</th>
        <th class="text-center">Profit and Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars$;let i=index">
        <td><span>{{car.make_name}}</span><br>
          <span>{{car.model_name}}</span>
        </td>
        <td>
          <table class="table">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Investor</th>
                <th>Type</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody *ngFor="let td of transactionDetails">
              <tr  *ngIf="td.transaction_type_id == 1 && car.car_id == td.car_id"  >
              <td>{{td.date | date}}</td>
              <td>{{td.investor_name}}</td>
              <td>{{td.transaction_type_name}}</td>
              <td class="text-right">{{td.debit}}</td>
            </tr>
          </tbody>
          </table>
        </td>
        <td>
          <table class="table">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Investor</th>
                <th>Type</th>
                <th class="text-right">Amount</th>
              </tr>
            </thead>
            <tbody *ngFor="let td of transactionDetails">
              <tr  *ngIf="td.transaction_type_id == 2 && car.car_id == td.car_id"  >
              <td>{{td.date | date}}</td>
              <td>{{td.investor_name}}</td>
              <td>{{td.expense_name}}</td>
              <td class="text-right">{{td.debit}}</td>
            </tr>
          </tbody>
          </table>
        </td>
        <td>
          <table class="table">
            <thead class="#f5f5f5 grey lighten-4">
              <tr>
                <th>Date</th>
                <th>Investor</th>
                <th>Profit</th>
                <th>Loss</th>

              </tr>
            </thead>
            <tbody *ngFor="let td of transactionDetails">
              <tr  *ngIf="(td.transaction_type_id == 3 || td.transaction_type_id == 4) && car.car_id == td.car_id"  >
              <td>{{td.date | date}}</td>
              <td>{{td.investor_name}}</td>
              <td class="text-right">{{td.credit}}</td>
              <td class="text-right">{{td.debit}}</td>
            </tr>
          </tbody>
          </table>
        </td>
      </tr>

    </tbody>
  </table>
</form>
</section>
