<section class="section module-small">
  <div class="text-center" style ="width:100%">
    <img src="./assets/images/picture2.jpg" style ="width:100%" >
    <p class="swap">BUY-SELL-SWAP USED CARS AND PREMIUM BICYCLES </p>
  </div>
</section>

<section class="section module-small" style="padding-left:50px;padding-right:50px">
  <div class="section-title">
  <h2>Who we are</h2>
</div>
  <p>
Gear2Gear is an upcoming car dealership, which was established in 2017 but the roots go down to 1970's and 1980's where it was all started by Mr Rahman who used to run a garage as well as supply imported cars in bangalore when there were only ambassadors and Fiats available. The trade was learned and applied by his son Ashfaq TP along with his corporate experience of 12 years. Thats why Gear2Gear stands out from other car dealerships where its not only about selling cars and making money but more on building trust and value the relationship. We only look for any buy good quality cars so that we attain customer satisfaction and keep that as our top most priority. At the end of the day we are die hard car fanatics who will help you the get the ride you desire, the ride you deserve. Reach out to us if you are planning on a purchase or would like to have a geeky, greasy conversation about anything wheels.
  </p>
</section>
<section class="section module-small" style="padding-left:50px;padding-right:50px">
    <div class="section-title">
  <h2>Why used cars?</h2>
</div>
  <p>
Its an expensive world and we all work hard to make a living. Buying used car will not only help you in saving a lot of money but also gives you the leverage of changing/upgrading  the car easily to something better or something that might suit your current requirement. Most of the new car buyers get stuck to their rides not because they like it, but mostly because they fear the lossed that they will incur in selling new car immediately.   </p>
</section>

<section class="section module-small" style="padding-left:50px;padding-right:50px">
    <div class="section-title">
  <h2>What do we look for while buying a used car?</h2>
</div>
  <p>
there are a lot of things to look for when buying a used car. Checking for service history is the basic check what wevery one would do , but there is more to it. We at gear2gear ensure that we procure cars that are customer owned and reach our hands directly from customers, than going thru middlemen/dealers etc. This will give more clarity on car condition, the way it was maintained, geniunity of car condition and so on. Using our expertise we comapre the tyre condition with the odometer reading, Interiors with the total usage, paint job with the age of the car etc. In our expert eyes the way the car looks and feels speaks volumes of how the car was maintained.
</p>
</section>

<section class="section module-small" style="padding-left:50px;padding-right:50px">
    <div class="section-title">
  <h2>How to find a good used car?</h2>
</div>
  <p>
best thing to do is to rely on friend circle, office contacts or thru other geniune source who can directly offer their car to you. If not see for a reliable dealer who talks sense and is reliable and trust worthy. Its better not to go for the fancy offers like 1 year warranty or some other service offers or some low price offer on any cars.</p>
</section>
