<section class="container-fluid section">
  <div class="col-12 grey lighten-4">
    <header class="header row">
      <div class="col-12">
        <app-title [title]=title></app-title>
      </div>
    </header>

    <div class="col-12">
      <form [formGroup]="insuranceTypeForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="inputInsuranceTypeName" class="col-sm-2 col-form-label">Name</label>
          <div>
            <div class="md-form mt-0">
              <input type="text" class="form-control capitalize" id="inputInsuranceTypeName" formControlName="name">
              <!-- <p style="color:red" *ngIf="insuranceTypeForm.controls.name.touched && insuranceTypeForm.controls.name.errors.required">Required</p> -->
              <app-control-messages [control]="insuranceTypeForm.controls.name"></app-control-messages>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="text-right">
            <!--  [disabled]="insuranceTypeForm.invalid"-->
            <button type="submit" class="btn btn-primary btn-custom btn-md" >
              <i class="fa fa-save"></i>
            </button>
            <app-simple-modal [module]="module" [mode]="mode" [name]="insuranceTypeForm.controls.name.value" (isDelete)="deleteInsuranceType($event)"></app-simple-modal>

          </div>
        </div>
      </form>
    </div>
  </div>
</section>
