<section class="container-fluid section-list">
  <div>
    <app-search (searchTermValueChanged)="searchExpenses($event)" (isCreate)="createExpense('Create')"></app-search>
  </div>
  <div>
    <table class="table">
      <thead class="#f5f5f5 grey lighten-4">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let expense of results$ | async'>
          <th scope="row">{{expense.expense_id}}</th>
          <td>{{expense.name}}</td>
          <td class="pointer" (click)="selectExpense(expense.expense_id, 'Edit')">
              <i class="fa fa-pencil"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
